<h1 {{action 'toggleBody'}}>{{title}}</h1>
<p> Created on: {{format-date created}}</p>
<button {{action 'sayHello' on="mouseEnter"}}>Say Hello</button>
{{#if isShowingBody}}
<p>{{body}}</p>
{{/if}}
<p>
  <strong>Authors: </strong>
  {{#each authors as |author|}}
  {{author}},
  {{/each}}
</p>
<h4>Comments</h4>
<ul>
  {{#each comments as |comment|}}
  <li>{{comment.name}} - {{comment.comment}}</li>
  {{/each}}
</ul>
<hr>
<h4>Add Comment</h4>
<form {{action 'submitAction' on='submit'}}>
  <p>
    Name: {{input value=name}}
  </p>
  <p>
    Comment: {{textarea value=comment}}
  </p>
  <button type="submit">Submit</button>
</form>